.container {
  margin: 20px;
}
nav {
  font-size: 18px;
}
.chapter {
  margin-top: 60px;
}
.desc {
  margin: 30px;
  display: grid;
  grid-template-columns: 60% 30%;
}
.codeDiv {
  background-color: rgb(231, 227, 226);
  padding: 20px;
  font-size: 18px;
}
